DATABASE_URL="mysql://root:password@localhost:3306/smartnotes"
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=smartnotes
NODE_ENV=development
PORT=3333
FRONTEND_ORIGIN="http://localhost:3001"
SESSION_SECRET="troque_este_valor"
